.services {
    width : 100%;
    height : auto;
}


.services__left,
.services__right,
.services__container{
    display : grid;
    grid-template-rows : auto;
    grid-template-columns : repeat(auto-fit, minmax(300px,1fr));
}

.services__left {
    background : orange;
}
.services__right {
    background : blue;
}

.services__left-1,
.services__left-2,
.services__right-1,
.services__right-2{
    color : #eee;
    display : flex;
    align-items : center;
    justify-content : center;
    height : 250px;
}
.services__left-1 {
    background : green;
}
.services__left-2 {
    background : tomato;
}

.services__right-1 {
    background : pink;
}
.services__right-2 {
    background : gold;
}