:root {
    --theme : #b22020;
}

/* You can add global styles to this file, and also import other style files */
* {
    margin : 0;
    padding : 0;
    border : none;
    outline : none;
    transition : all .7s;
    box-sizing : border-box;
}

body {
    background : #eee;
    font-family : 'Dosis', Helvetica;
    min-height : 100vh;
}

body::-webkit-scrollbar {
    width : 0px;
}

/* --------  Reset styles ----------*/
div,
nav,
img,
main,
header,
footer,
section {
    display : block;
}

li,
ol,
ul {
    list-style : none;
}

a {
    color : transparent;
    text-decoration : none;
}

/*--------------------------------- */

.wrap {
    width : 100%;
    height : auto;
}